<!DOCTYPE html>
<html>
<head>
  <!-- DISCUSS4: How to compose an HTML page using partials -->
  <%- include('layout/_head') %>
</head>
<body>
  <%- include('layout/_nav') %>
  <div class="container page-wrap">
    <h1>Dashboard</h1>
  </div>
  <%- include('layout/_body_end') %>
</body>
</html>